@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
<<<<<<< HEAD
    --background: #171717;
=======
    --background: #0a0a0a;
>>>>>>> a9d1dc78ff74ff1d9dda5750e838ab405469c3e0
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
